@import url("https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900");
@import url("https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic");
@import url("https://fonts.googleapis.com/css?family=Cormorant+Infant:300,300italic,regular,italic,500,500italic,600,600italic,700,700italic");

@import url("https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,700;1,400;1,700&family=Inter:wght@400;600;700&family=Merienda:wght@300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,400;0,600;1,300;1,400;1,600&family=Poppins:ital,wght@0,400;0,500;0,600;1,200&family=Roboto:ital,wght@0,100;0,400;0,500;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");

@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten/Causten-Regular.woff2") format(woff2),
    url("../fonts/Causten/Causten-Regular.woff") format(woff);
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten/Causten-Medium.woff2") format(woff2),
    url("../fonts/Causten/Causten-Medium.woff") format(woff);
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten/Causten-Semi-Bold.woff2") format(woff2),
    url("../fonts/Causten/Causten-Semi-Bold.woff") format(woff);
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten/Causten-Semi-Bold.woff2") format(woff2),
    url("../fonts/Causten/Causten-Semi-Bold.woff") format(woff);
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Core Sans C";
  src: url("../fonts/Core-sans-c/CoreSansC-65Bold.woff2") format(woff2),
    url("../fonts/Core-sans-c/CoreSansC-65Bold.woff") format(woff);
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Core Sans C";
  src: url("../fonts/Core-sans-c/CoreSansC-85Heavy.woff2") format(woff2),
    url("../fonts/Core-sans-c/CoreSansC-85Heavy.woff") format(woff);
  font-display: swap;
  font-weight: 800;
  font-style: normal;
}
