.deals {
  // .deals__container
  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 30px;
    color: #fff;
    font-family: "Core Sans C", sans-serif;
    margin-bottom: 70px;
    @media (max-width: 780px) {
      margin-bottom: 20px;
    }
    @media (max-width: 480px) {
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
  }

  // .deals__item
  &__item {
    position: relative;
    padding: 67px 32px 80px 32px;
    background-color: grey;
    border-radius: 12px;
  }

  // .deals__img
  &__img {
    position: absolute;
    aspect-ratio: 605/355;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    border-radius: 12px;
    @media (min-width: 876px) {
      object-position: top;
    }
  }

  // .deals__info
  &__info {
    position: relative;
    max-width: 300px;
    height: 100%;
  }
  &__subtitle {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    line-height: 1.6;
    letter-spacing: 0.251px;
    margin-bottom: 24px;
    z-index: 3;
  }
  &__title {
    font-family: "Core Sans C", sans-serif;
    font-size: 34px;
    font-weight: 800;
    line-height: 45px;
    margin-bottom: 10px;
  }
  &__add-info {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.251px;
  }

  // .deals__link
  &__link {
    position: relative;
    color: #fff;
    font-size: 20px;
    font-weight: 800;
    line-height: 1.5;
    text-decoration-line: underline;
    transition: all 0.3s;
    z-index: 3;
    @media (any-hover: hover) {
      &:hover {
        color: grey;
        transition: all 0.3s;
      }
    }
  }
}
